HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#@Table
#@Entity(name = "payment")
#public class Payment {
#
#	@Id
#	@SequenceGenerator(
#			name = "client_sequence",
#			sequenceName = "client_sequence",
#			allocationSize = 1
#	)
#	@GeneratedValue(
#			strategy = GenerationType.SEQUENCE,
#			generator = "client_sequence"
#	)
#	@Column(updatable = false)
#	private Long id;
#
#	@Column(nullable = false)
#	private Integer income;
#
#	@Column(nullable = false)
#	private LocalDate date_of_create;
#
#	@Column(nullable = false)
#	private String direction;
#
#	@Column(nullable = false)
#	private Long client_id;
#
#	@ManyToOne
#	@JoinColumn(name="client_id", nullable=false)
#	private Client client;
#}